<ion-content >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="chevron-back-outline" class="custom_bk1" defaultHref="/home/tabs/home-inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <h3 class="title-centro-ayuda">Centro Ayuda</h3>
  <ion-list lines="full">
    <ion-item detail href="centro-ayuda">
      <ion-label>Cuenta y opciones de pago</ion-label>
    </ion-item>
  
    <ion-item detail href="guia">
      <ion-label>Guía con rift</ion-label>
    </ion-item>
  
  </ion-list>
</ion-content>
