<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="chevron-back-outline" class="custom_bk1" defaultHref="centro-ayuda">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <h3 class="title-centro-ayuda">Guía con Rift</h3>
  <ion-list lines="full">
    <ion-item detail href="centro-ayuda">
      <ion-label>Qué es Rift?</ion-label>
    </ion-item>

    <ion-item detail href="#">
      <ion-label>Cómo funciona Rift?</ion-label>
    </ion-item>

    <ion-item detail href="#">
      <ion-label>Cómo hacer un envío con Rift</ion-label>
    </ion-item>

  </ion-list>
</ion-content>