/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.custom-link1 {
    color: #6ec41b;
}
.custom-btn1{
    --background: #92c751;
}
ion-content{
    --background: #f6f6fb;
}
.custom-input1{
    --background: #f6f6fb;
    --color: #000;
}
*{
   font-family: 'Quicksand', sans-serif;
}
:host {
  .item-interactive.ion-valid{
    --highlight-background: #92c751 !important;
  }
}
ion-item.item-has-focus > ion-label{
  color:  #6ec41b  !important;
}
input{
    font-family: 'Quicksand', sans-serif !important;
}
ion-label{
    font-family: 'Quicksand', sans-serif !important;
}
.custom-title1{
    color: #000;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}
.custom-text1{
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}

.my-custom-class{
  text-align: center;
}

ion-alert.customcoloralert {
    --background: #fff !important;
    color: #000 !important;
    text-align: center;
    margin: 0px auto;
}
ion-alert.customcoloralert .alert-title {
    color: #000 !important;
    text-align: center;
}
ion-alert.customcoloralert .alert-button {
    color: #448a32 !important;
}
ion-card {
    background: #fff;
}
ion-alert.customcoloralert .alert-input {
    color: #448a32 !important;
}